body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: none;
}

h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  text-transform: uppercase;
}

.discipline {
  background-image: url(../imgs/img-discipline.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}

.discipline h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.5rem;
  text-transform: uppercase;
  color: var(--color-neutral-1);
  font-weight: var(--font-weight-semibold);
}

.sobre {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sobre p,
.unidades .unidades-descricao p {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  padding: 1rem 0.5rem 0.3rem;
}

.sobre h3,
.unidades .unidades-descricao h3 {
  text-align: right;
  font-size: var(--font-size-base);
  padding: 0rem 1rem 1rem;
}

.cards {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
  padding: 0 1rem;
  -webkit-overflow-scrolling: touch;
}

.card {
  flex: 0 0 auto;
  width: 80%;
  max-width: 250px;
  scroll-snap-align: center;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.card p {
  padding: 0.5rem 0.1rem 0.1rem;
  font-weight: var(--font-weight-semibold);
}

.card p:last-child {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  padding: 0.1rem;
}

.unidade {
  padding: 20px 0;
  border-bottom: 2px solid var(--color-neutral-2);
  padding: 1rem;
}

.unidade:last-child {
  border-bottom: none;
}

#map {
  width: 100%;
  height: 450px;
  margin-top: 20px;
  border-radius: var(--radius-lg);
  overflow: hidden;
}

.membros {
  background-image: url(../imgs/img-member-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}

.membros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.membros h3 {
  padding-top: 2rem;
  text-transform: uppercase;
  color: var(--color-neutral-1);
  font-weight: var(--font-weight-semibold);
}

.membros button {
  background: none;
  border: none;
  padding: 0;
  color: var(--color-neutral-2);
  font: var(--font-body);
  cursor: pointer;
  outline: none;
}

.botoes-membros {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.siga-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.siga {
  padding: 2rem;
}

.footer-vortx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-vortx h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  padding: 1rem;
}

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.contato p {
  padding: 0.3rem;
}

/* REPONSIVIDADE */
/* TABLET */
@media (min-width: 768px) {
  .sobre p,
  .unidades .unidades-descricao p {
    padding-left: 3rem;
  }

  .sobre h3,
  .unidades .unidades-descricao h3 {
    text-align: left;
    padding-left: 6rem;
  }
  .contato {
    justify-content: space-around;
  }
}

/* NOTEBOOK */

@media (min-width: 1024px) {
  .sobre p,
  .unidades .unidades-descricao p {
    font-size: var(--font-size-lg);
  }

  .sobre h3,
  .unidades .unidades-descricao h3 {
    font-size: var(--font-size-xl);
  }
  .discipline {
    background-image: url(../imgs/img-discipline.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
  }

  .discipline h2 {
    padding-top: 10rem;
    font-size: var(--font-size-xl);
  }

  .cards {
    justify-content: center;
    overflow: visible;
    scroll-snap-type: none;
    padding: 0;
  }

  .card {
    flex: 0 0 150px;
    max-width: none;
    scroll-snap-align: none;
  }
  .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .mapa-unidades {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 5rem;
  }

  #map {
    width: 100%;
    height: 250px;
  }

  .membros {
    background-image: url(../imgs/img-member.jpg);
    width: 100%;
    height: 350px;
  }

  .membros h3 {
    font-size: var(--font-size-xl);
  }

  .siga-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .footer-vortx h2 {
    font-size: var(--font-size-xxl);
  }
}

/* COMPUTADOR */

@media (min-width: 1200px) {
  .card {
    flex: 0 0 200px;
  }
}
