body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: none;
}

h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  text-transform: uppercase;
}

.hero {
  background-image: url(../imgs/img-hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}

.hero h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.5rem;
  text-transform: uppercase;
  color: var(--color-neutral-1);
  font-weight: var(--font-weight-semibold);
}

.sobre {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sobre p {
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  padding: 1rem 0.5rem 0.3rem;
}

.sobre h3 {
  text-align: right;
  font-size: var(--font-size-base);
  padding: 0rem 1rem 1rem;
}

.cards {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
  padding: 0 1rem;
  -webkit-overflow-scrolling: touch;
}

.card {
  flex: 0 0 auto;
  width: 80%;
  max-width: 250px;
  scroll-snap-align: center;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.card p {
  padding: 0.5rem 0.1rem 0.1rem;
  font-weight: var(--font-weight-semibold);
}

.card p:last-child {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  padding: 0.1rem;
}

/* TABLET */
@media (min-width: 768px) {
  .sobre p {
    padding-left: 3rem;
  }

  .sobre h3 {
    text-align: left;
    padding-left: 6rem;
  }
}

/* NOTEBOOK */

@media (min-width: 1024px) {
  .sobre p {
    font-size: var(--font-size-lg);
  }

  .sobre h3 {
    font-size: var(--font-size-xl);
  }
  .hero {
    background-image: url(../imgs/img-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
  }

  .hero h2 {
    padding-top: 10rem;
  }

  .cards {
    justify-content: center;
    overflow: visible;
    scroll-snap-type: none;
    padding: 0;
  }

  .card {
    flex: 0 0 150px;
    max-width: none;
    scroll-snap-align: none;
  }
  .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}

/* COMPUTADOR */

@media (min-width: 1200px) {
  .card {
    flex: 0 0 200px;
  }
}
