header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: none;
}

.membros {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.botoes-membros {
  display: flex;
}

.sobre {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sobre h3,
.unidades .unidades-descricao h3 {
  text-align: right;
}

.cards {
  display: flex;
}

.card {
  flex: 0 0 auto;
  width: 80%;
  max-width: 250px;
}

.card img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

#map {
  width: 100%;
  height: 450px;
  margin-top: 20px;
}

.discipline {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
}

.discipline h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.siga-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-vortx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* REPONSIVIDADE */
/* TABLET */
@media (min-width: 768px) {
  .sobre h3,
  .unidades .unidades-descricao h3 {
    text-align: left;
  }
  .contato {
    justify-content: space-around;
  }
}

/* NOTEBOOK */

@media (min-width: 1024px) {
  .discipline {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
  }

  .cards {
    justify-content: center;
  }

  .card {
    flex: 0 0 150px;
    max-width: none;
  }
  .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .mapa-unidades {
    display: flex;

    align-items: flex-start;
  }

  #map {
    width: 100%;
    height: 250px;
  }

  .membros {
    width: 100%;
    height: 350px;
  }

  .siga-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}

/* COMPUTADOR */

@media (min-width: 1200px) {
  .card {
    flex: 0 0 200px;
  }
}
