body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

header {
  background-color: var(--color-neutral-6);
}

h1 {
  color: var(--color-neutral-1);
  font-family: var(--font-heading);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  text-transform: uppercase;
}

.caminho p {
  text-align: left;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  color: var(--color-neutral-3);
  padding: 1rem 0.5rem 0.3rem;
  letter-spacing: 0.1rem;
}

.caminho h3 {
  padding-left: 0.5rem;
}

.planos {
  padding: 1rem;
  gap: 1.5rem;
}

.planos .card {
  padding-bottom: 5rem;
  margin-top: auto;
  border-radius: 24px 24px;
  padding: 10px 10px;
  box-shadow: 2px 2px 5px rgb(32, 31, 31, 0.4);
  text-align: center;
  gap: 0.8rem;
  justify-content: space-between;
  height: 100%;
}

.planos .card .top h3 {
  text-transform: uppercase;
  color: var(--color-neutral-9);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-lg);
}

.planos .card3 .top h3 {
  color: var(--color-neutral-1);
}

.planos .card .top p {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.15rem;
  color: var(--color-neutral-5);
}

.planos .card2 .top p {
  color: var(--color-neutral-2);
}

.planos .card p {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.15rem;
  color: var(--color-neutral-5);
}

.planos .card2 p {
  color: var(--color-neutral-7);
}

.planos .card3 p {
  color: var(--color-neutral-2);
}
.planos .card1 {
  background-color: var(--color-neutral-2);
}

.planos .card2 {
  background-color: var(--color-neutral-4);
}

.planos .card3 {
  background-color: var(--color-neutral-6);
}
.card a {
  display: inline-block;
  font-size: 12px;
  padding: 0.4rem 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

.planos .card1 a {
  background-color: var(--color-neutral-0);
  border: 1px solid var(--color-neutral-0);
  color: var(--color-neutral-6);
}

.planos .card2 a {
  background-color: var(--color-neutral-2);
  border: 1px solid var(--color-neutral-2);
  color: var(--color-neutral-5);
}

.planos .card3 a {
  background-color: var(--color-neutral-5);
  border: 1px solid var(--color-neutral-5);
  color: var(--color-neutral-2);
}

.card a:hover {
  color: var(--color-background);
  text-decoration: underline;
}

.card1 a:hover {
  background-color: var(--color-neutral-5);
  border: 1px solid var(--color-neutral-5);
}

.card2 a:hover {
  background-color: var(--color-neutral-6);
  border: 1px solid var(--color-neutral-6);
}

.card3 a:hover {
  background-color: var(--color-neutral-2);
  border: 1px solid var(--color-neutral-2);
}

.card div {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card div:last-child {
  border-bottom: none;
}

.card1 div {
  border-bottom: 1px solid var(--color-neutral-1);
}

.card2 div {
  border-bottom: 1px solid var(--color-neutral-3);
}

.card3 div {
  border-bottom: 1px solid var(--color-neutral-8);
}

.siga {
  padding: 2rem;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--color-neutral-3);
}

.footer-vortx h2 {
  text-align: center;
  font-family: var(--font-heading);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  padding: 1rem;
}

.home a {
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--color-neutral-5);
  letter-spacing: 0.1rem;
  font-size: var(--font-size-sm);
}

.contato {
  padding: 2rem;
}

.contato-colunas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.contato p:first-child {
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--color-neutral-3);
  margin-bottom: 10px;
  padding-top: 1rem;
}

.contato p {
  border: none;
  padding: 0;
  font-size: 15px;
  color: var(--color-neutral-7);
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* RESPONSIVIDADE */

@media (min-width: 1024px) {
  .caminho p {
    padding: 1rem 3rem 0.3rem;
    letter-spacing: 0.1rem;
  }

  .caminho h3 {
    padding-left: 5rem;
  }

  main {
    width: 100%;
  }

  .planos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1.5rem;
    max-width: 1100px;
    margin: 0 auto; /* centraliza o grid */
    width: 100%;
  }
}
